apiVersion: v1
kind: Secret
metadata:
  name: {{ snmpd_secret_name }}
  namespace: {{ snmpd_namespace }}
  labels:
    app: {{ snmpd_app_name }}
{% for key, value in (snmpd_secret_labels | dictsort) %}
    {{ key }}: {{ value | quote }}
{% endfor %}
{% if snmpd_secret_annotations %}
  annotations:
{% for key, value in (snmpd_secret_annotations | dictsort) %}
    {{ key }}: {{ value | quote }}
{% endfor %}
{% endif %}
type: Opaque
stringData:
  {{ snmpd_secret_keys.user }}: {{ snmpd_user | quote }}
  {{ snmpd_secret_keys.auth_pass }}: {{ snmpd_auth_pass | quote }}
  {{ snmpd_secret_keys.priv_pass }}: {{ snmpd_priv_pass | quote }}
